<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi culpa distinctio exercitationem
        facere id ipsam itaque iusto laudantium nobis, non, officiis perferendis praesentium reprehenderit sunt? Aliquid
        architecto blanditiis deleniti?
    </div>
    <div>Amet at commodi delectus dicta dignissimos, dolor dolorem doloremque enim expedita facilis id in libero magni,
        molestias nam nemo odit officiis quas qui quidem quos similique suscipit temporibus ut velit!
    </div></h1>
</body>
</html>